 .besttitle {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .besttitle h1 {
     font-size: 2.4em;
 }

 .bestProductCardContainer {
     margin-top: 10px;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .bestCard {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     width: 340px;
     height: 550px;
     border: 1px solid gray;
     box-shadow: 5px 5px 10px 10px rgb(204, 204, 204);
     border-radius: 9px;


 }

 .bestCard p,
 .bestCard h2,
 .bestCard button {
     margin: 10px;

 }

 .bestCard img {
     border-top-right-radius: 9px;
     border-top-left-radius: 9px;
     width: 338px;
     height: 260px;

 }

 .bestCard h2 {
     height: 50px;
 }

 .bestCard p {
     height: 200px;
 }

 .bestCard button {
     margin: 15px auto;
 }

 .btnStyle {
     padding: 9px 20px;
     border: 0;
     color: white;
     font-size: 20px;
     border-radius: 7px;
     background-color: #E76F51;
     box-shadow: 2px 2px 10px 3px gray;
     transition: background-color .4s ease-in;
 }

 .btnStyle:hover {
     background-color: #f14f27;
 }

 .btnStyle:active {
     box-shadow: 1px 1px 5px 0px gray;
 }