.NavLogo {
    display: flex;
    align-items: center;
    color: white;
    background-color: #264653;
    justify-content: space-between;
}

.logoTitle {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
}

.Navbar {
    margin-right: 90px;
}

.Navbar ul {
    list-style: none;
    display: flex;
}

.Navbar ul li {
    padding: 9px 15px;
    margin-left: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #264653;
    padding: 0;
    margin: 0;
    color: white;
    min-height: 70vh;

}

.text {
    width: 500px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    user-select: none;
}

.text h1 {
    font-size: 2.4em;
    margin: 0;
}

.dogImage {

    margin-right: 150px;
    display: flex;
    align-items: flex-end;
}

.dogImage img {
    height: 480px;
}

.btnStyle,
.loginbtn {
    padding: 9px 12px;
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    background-color: #E76F51;
    transition: background-color .4s ease-in;
}

.btnStyle:hover {
    background-color: #f14f27;
}

.loginbtn {
    margin-left: 20px;
}